.card {
  position: relative;
  word-wrap: break-word;
  width: 400px;
  height: 300px;
  border-radius: 0.25rem;
  padding: 25px;
}
.card {
  background-color: rgba(248, 248, 248, 0.714) ;
  background-clip: border-box;
  border: 3px solid rgb(214, 221, 219);

  box-shadow: 0px 0px 7px 5px #333333aa;
}
.card-title{
  margin: 32px auto;
  font-size: 2em;
  font-family:'Trebuchet MS', sans-serif;
}
.card-content{
  padding: 0px 20px;
  max-height: 230px;
  text-align: center;
  width: 300px;
  margin: 0px auto;
  overflow: scroll;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  line-height: 32px;
}
.anchorBottom{
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}
@media screen and (min-width:1100px){
  .card{margin: 10px 300px 10px 50px;}
}
@media screen and (max-width: 850px) {
  .card{
    padding: 0px;
  }
}
@media screen and (max-width: 750px) {
  .card{
    max-width:95%;
    min-height: 50px;
    margin: 0px;
    padding: 10px;
  }
  .card-content{
    padding: 0px;
    overflow:visible;
  }
}