.avatar{
  width: 40%;
  margin: 0px 20px 30px 20px;
}

div.avatar{
  height: 240px;
  width: 240px;
}
div.avatar > img{
  height: 100%;
  width: 100%;
  object-position: 0% 10%; 
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 2px 16px 4px #333333aa
}

#last{
  margin-left: -20px;
}
.myname{
  font-size: 2.2em;
  text-shadow: -1px 0px 1px #D9E0E0;
  font-family:'Trebuchet MS', sans-serif;
}
.IconLink.normal{
  color: white;
}
.flexy{
  display: inline-flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.table{
  display: inline-table;
}
.portfolio-page .narrow {
  padding-left: 200px;
}
.narrow{
  padding: 20px;
}

.narrow:last-child{
  border-bottom: 1px solid #246EB9;
}

.pagination{
  margin: 0px auto;
  display: inherit;
}
.side-nav{
  z-index: 12;
  display:initial;
  position:fixed;
  list-style-type:none;
  
}
.centered{
  text-align:center;
  width:100%;
}
.side-nav.sticky{
  top: 0px;
  padding: -20px 0px 0px 0px;
  width: 300px;
  left: -35px;
}

.side-item{
  margin: 10px 0px;
  visibility: hidden;
  margin-left: 5px;
  padding-left: 10px;
  border-left: 4px solid transparent;

  user-select: none;    
}
.side-nav.sticky .side-item{
  visibility: visible;
  /* transition: top 0.5s ease-in; */
}
.bg{
  z-index: 20;
}
.side-item:hover{
  cursor: pointer;
  border-left: 4px solid #246EB9;
  transition: 200ms border ease-in;
}
.social-wrap
{
  /* position:absolute; */
  display: flex;
  padding: 0px;
  width: 100%;
  text-decoration:none;
  font-size: 0.6em;
  float:left;
  top: 0px;
  right: 25px;
}
.social-wrap .fas,
.social-wrap .fab{
  padding-left:25px;
}
.portfolio-page{
  margin: 50px 0px;
  height:100%;
}

.online-links{
  position: absolute;
  right: 25px;
  top: 15px;
}
/* .online-links

    position: absolute;
    right: 25px;
    top: 15px;
*/

@media screen and (max-width: 600px) {
  .side-nav.sticky{
    top: 0px;
    padding: 20px 0px 0px 40px;
    margin:0;
    display:initial;
    text-align: right;
    background: rgba(243, 252, 253,0.8);
    text-align: center;
    width: 100%;
  }
  
  div.avatar{
    height: 120px;
    width: 120px;
    margin: 0px 180px 150px 0px;

  }
  .portfolio-page .narrow {
    padding-left: 10px;
    padding-top: 100px;
    transition: left 750ms ease-out;
  }
  #rr{
    font-size: 0.8em;
    margin-right: 0px;
    margin-top: 0px;
    padding: 1px;
    border-bottom: 1px solid #333;
  }
  .portfolio-page .narrow {
    padding-left: 10px;
    padding-top: 100px;
    transition: left 750ms ease-out;
  }
  .small-space{
    margin: 0px 10px;
    width: unset;
    height: unset;
  }
  .myname span{
    top: 0px;
    display:inline-block;
    position: relative;
    top: -290px;
    left: 100px;
  }
}
#profileImg{
  -webkit-user-drag: none;
}

/* smallest window */
@media screen and (max-width:450px){
  .myname{
   width: 200px;
   margin: 0px 30px;
   text-align: left !important;
  }
  .bg{
    overflow-x: hidden;
  }
  .avatar{
    padding-bottom: 50px;
  }
  .side-nav{
    background: #eeeeee;
  }
  .side-nav.sticky{
    padding: 20px 0px;
    left: unset;
    width: 100%;
  }
  .side-item{
    color: #246EB9;
  }
  .side-item{
    margin: 10px 0px;
    visibility: hidden;
    margin-left: 5px;
    padding-left: 10px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
  }
  .side-item:hover{
    cursor: pointer;
    border-left: 4px solid transparent;

    border-bottom: 4px solid #246EB9;
    transition: 200ms border ease-in;
  }
  .side-item:hover{
    color: #333;
  }
  .fa-caret-right,.fa-caret-left{
    position: absolute;
    bottom: 20px !important;
  }
 
}
@media screen and (min-width: 1500px) {
    #page2{
    text-align: center;
  }
}
#page2 nav{
  text-align: left;
}

i.fa-caret-right,i.fa-caret-left{
  color: rgba(0, 0, 0, 0.26);
  font-size: 2em;
  position: absolute;
  bottom: 15px;
  z-index: 1;
}
i.fa-caret-right{
  right: 20px;
}
i.fa-caret-left{
  left: 20px;
}
i.fa-caret-right:hover,i.fa-caret-left:hover{
  color:#000;
  cursor: pointer;
}
.fadeSlow{
  opacity:0;  
  -webkit-animation:fadeIn ease-in 1; 
  -webkit-animation-fill-mode:forwards; 
  -webkit-animation-duration:2.5s;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:2.5s;
}
.fadeIn {
  opacity:0;  
  -webkit-animation:fadeIn ease-in 1; 
  -webkit-animation-fill-mode:forwards; 
  -webkit-animation-duration:1s;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }