nav{
  display:flex;
  margin: 50px auto;
}
 .nav-tab{
    padding: 15px 20px;

 }
 .nav-tab:hover{
   cursor: pointer;
   color: #2D342D;
   text-decoration: none;
 }

 @media screen and (max-width: 600px) {
  nav#navbar{
    margin-top: -350px;
    width: 400px;
    flex-direction: column;
    text-align: center;
    /* display: flow-root; */
  }

}