nav{
  display:flex;
  /*      flex-direction:column;
 */
  margin: 50px auto;
}
 .nav-tab{
    padding: 15px 20px;

 }
 .nav-tab:hover{
   cursor: pointer;
   color: #2D342D;
   text-decoration: none;
 }

 @media screen and (max-width: 600px) {
  nav {
    margin-left: 6%;
    margin-top: -50px;
  }
}