nav{
  display:flex;
  margin: 50px auto;
}
 .nav-tab{
    font-size: 1.2em;
    text-shadow: -1px 0px 1px #D9E0E0;
    font-family: 'Pontano Sans', sans-serif;
    padding: 15px 20px;
 }
 a {
   text-decoration: none;
 }
 .nav-tab a{
  color: #262730be !important;
  user-select: none;   
  border-bottom: 1px solid rgba(232, 111, 46, 0);  
  -webkit-transition: border 500ms ease;
  transition: border 500ms ease; 
}
.nav-tab a:hover {
  border-bottom: 1px solid rgba(232, 111, 46, 1);  
}
 .nav-tab:hover{
   cursor: pointer;
   color: #2D342D !important;
 
 }
 .circle {
  height: 8px;
  width: 8px;
  border: 1px solid black;
  background: white;
  border-radius: 50%;
  display:inline-flex;
  margin: 5px;
}
.circle:not(.selected):hover {
  background-color: #666;
  border-radius: 50%;

}

.selected{
  background-color: #333;
  border: 1px solid #333;
  transition: all 1s ease-out;
}
.pagination{
	padding: 5px;
  text-align: center;
  position: relative;
  bottom: 20px;
  border-radius: 5%;
}
 @media screen and (max-width: 600px) {
  nav#navbar{
    margin-top: -250px;
    width: 400px;
    flex-direction: column;
    text-align: center;
  }

}