.project{
  margin: 5px 45px;
}
.project-img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.media{
  width: 250px;
  height: 250px;
  flex-wrap: nowrap;
  flex-flow: row;
}
.media p{
  float: right;
  margin:0px;
}

@media screen and (max-width:400px){
  .project-img{
    max-width: 25%;
    max-height: 100px;
  }
}